{% extends 'base.html' %}
{% load static %}

{% block title %}Alle Kruse{% endblock %}

{% block extra_css %}

    <link href="{% static 'css/courses.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

  <div class="row">
    {% for course in courses %}
      <div class="col-sm-4">
        <div class="card">
          <img src="/{{ course.image }}" class="card-img-top" alt="{{ course.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}