{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Binden Sie hier die CSS-Dateien ein, die für alle Apps in Ihrem Projekt verwendet werden sollen -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="navigation">
        {% include "navigation.html" %}
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        {% include "footer.html" %}
    </div>
</body>
</html>
